version: '3'
services:
    jenkins:
        image: jenkins/docker
        build:
            context: dockerjenkins
        ports:
            - 9001:8080
            - 50000:50000
        container_name: jenkins
        privileged: true
        user: root
        dns:
            - 8.8.8.8
            - 1.1.1.1
        volumes:
            - $PWD/jenkins_home:/var/jenkins_home
            - /var/run/docker.sock:/var/run/docker.sock
        networks:
            - net
networks:
    net:
